@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  text-align: center; }
  body .principal {
    text-align: center;
    background-image: url(../assets/images/Online6.jpg);
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%; }
  body .principalInicio {
    text-align: center;
    align-content: center;
    background-image: url(../assets/images/Online6.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15% 10%; }
  body h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
    margin: 10px auto;
    color: white;
    text-shadow: 0 0 2px black; }
  body .principalInicio a {
    text-decoration: none;
    border-radius: 20px;
    background: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    padding: 1rem 8rem;
    border: 2px solid white; }
  body .principal__callToAction {
    margin: 50px auto; }
  body h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem; }
  body h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2rem; }
  body h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.8rem; }
  body .parrafo {
    font-family: 'Robot', sans-serif;
    font-weight: 100; }
  body .sectionCard {
    background: linear-gradient(90deg, #f700ff 0%, #fffc00 100%);
    padding: 10px; }
    body .sectionCard .card {
      background-color: white;
      color: black;
      border-radius: 10px;
      width: 180;
      height: 120;
      margin: 10px;
      padding: 10px; }
      body .sectionCard .card .card img {
        border-radius: 10px; }
      body .sectionCard .card .card div p {
        margin: 10px;
        padding: 10px; }
  body .logosCias {
    width: 100%;
    padding: 10px;
    text-align: center;
    display: inline-block; }
  body .logosCias div {
    border-radius: 10px;
    align-items: center;
    justify-content: center; }
  body footer {
    background: linear-gradient(90deg, #f700ff 0%, #fffc00 100%);
    padding: 10px;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif; }
    body footer footer p {
      margin: 5px; }
  body footer section a {
    color: white;
    margin: 10px; }
  body footer section a:hover {
    color: black; }
  body .cardsSeguros {
    background-color: #90a4ae;
    padding: 20px;
    text-align: center; }
    body .cardsSeguros .cardsSeguros div {
      background-color: #37474f;
      border-radius: 10px;
      color: #fff7e9;
      padding: 10x;
      margin: 10px 50px;
      text-align: center;
      width: 250px;
      height: 280px;
      text-align: center;
      display: inline-block; }
      body .cardsSeguros .cardsSeguros div .cardsSeguros div img {
        border-radius: 10px;
        margin: 10px; }
    body .cardsSeguros .cardsSeguros p {
      margin: 8px; }
  body .masInfo {
    padding: 20px;
    text-align: center; }
    body .masInfo .botonInfo {
      width: 25%;
      font-size: 1.5rem;
      font-weight: 700;
      padding: 2px;
      border-radius: 10px;
      background-color: white;
      border: 1px solid black;
      color: black; }
  body .masInfo h3,
  body p,
  body button {
    margin: 10px; }
  body .formularioSiniestros {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    text-align: center; }
    body .formularioSiniestros div {
      padding: 10px;
      margin: 10px;
      width: 100%;
      height: 50px;
      display: inline-block; }
    body .formularioSiniestros .parrafosFormulario {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 0.8rem;
      color: #90a4ae;
      text-align: left; }
    body .formularioSiniestros .fechaHora input {
      width: 49.7%; }
    body .formularioSiniestros .inputComentario {
      height: 150px; }
    body .formularioSiniestros div select,
    body .formularioSiniestros option,
    body .formularioSiniestros input {
      font-family: 'Roboto', sans-serif;
      width: 100%; }
  body .nosotros {
    text-align: center;
    background-image: url(../assets/images/Oficina.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
    color: #fff7e9; }
  body .contenidoNosotros {
    padding: 20px; }
    body .contenidoNosotros section h3 {
      margin: 50px 10px; }
    body .contenidoNosotros section h5,
    body .contenidoNosotros p {
      margin: 10px; }
  body .mapa {
    background: linear-gradient(90deg, #f700ff 0%, #fffc00 100%);
    padding: 10px;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; }
    body .mapa .centrar {
      height: 100%;
      width: 100%;
      margin: 10px;
      display: inline-block;
      justify-content: center; }
    body .mapa .textoMapa {
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
      text-shadow: 0 0 2px black; }
  body .mapa div div iframe,
  body h3,
  body p {
    padding: 10px;
    margin: 5px; }
  body .botonEnviar {
    margin: 10px;
    display: inline-block;
    flex: wrap; }

header {
  background: linear-gradient(90deg, #f700ff 0%, #fffc00 100%);
  padding: 5px;
  display: block;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 10; }
  header .color-navbar {
    color: #fff7e9; }
  header .color-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
  header .color-navbar .navbar-toggler {
    border: 1px solid black; }
  header header nav {
    text-align: center; }
    header header nav nav li {
      display: inline-block; }
      header header nav nav li nav ul li a {
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        color: #fff7e9;
        margin: 0 10px;
        padding: 10px;
        display: inline-block; }
        header header nav nav li nav ul li a nav ul li a:hover {
          color: black; }

.principalInicio a:hover {
  background: linear-gradient(90deg, #f700ff 0%, #fffc00 100%);
  color: #ffffff;
  border: 5px solid #ffffff; }

.botonCotizar {
  padding: 10px 30px;
  border-radius: 10px;
  width: 75%;
  border: 1px solid black;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1rem; }

.botonCotizar:hover {
  border: 1px solid white;
  color: white;
  background: linear-gradient(90deg, #f700ff 0%, #fffc00 100%); }

.botonInfo:hover {
  border: 1px solid #f700ff;
  background: -webkit-linear-gradient(45deg, #f700ff 0%, #fffc00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

@media (max-width: 768px) {
  body h1 {
    font-size: 2rem; }
  body .principalInicio a {
    font-weight: 500;
    padding: 1rem 4rem;
    font-size: 1.5rem; }
  body .principalInicio {
    min-height: 100vh;
    padding: 15vh 0; }
  .botonInfo {
    width: 50%;
    padding: 0.50px;
    border-radius: 10px; } }

@media (max-width: 992px) {
  .fechaHora input {
    width: 45%; } }

@media (max-width: 576px) {
  body .formularioSiniestros .fechaHora input {
    width: 49.7%;
    margin: 10px;
    width: 100%; }
  .botonInfo {
    width: 50%;
    font-size: 0.8rem;
    padding: 0.20px;
    border-radius: 10px; } }
