body {
    text-align: center;

    .principal {
        text-align: center;
        background-image: map-get($map-background,imagePrincipal);
        height: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 10%;
    }

    .principalInicio {
        text-align: center;
        align-content: center;
        background-image: map-get($map-background,imagePrincipal);
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 15% 10%;
    }

    h1 {
        font-family: $Fuente;
        font-weight: map-get($map-fontWeight, bold);
        font-size: 2.5rem;
        text-align: center;
        margin: 10px auto;
        color: map-get($map-color,blanco);
        text-shadow: 0 0 2px rgb(0, 0, 0);
    }

    .principalInicio a {
        text-decoration: none;
        border-radius: 20px;
        background: none;
        color: map-get($map-color,blanco);
        font-family: $Fuente;
        font-weight: map-get($map-fontWeight, medium);
        font-size: 2rem;
        padding: 1rem 8rem;
        border: 2px solid rgb(255, 255, 255);
    }

    .principal__callToAction {
        margin: 50px auto;
    }

    h2 {
        font-family: $Fuente;
        font-weight: map-get($map-fontWeight,medium);
        font-size: 1.5rem;
    }

    h3 {
        font-family: $Fuente;
        font-weight: map-get($map-fontWeight,medium);
        font-size: 1.2rem;
    }

    h5 {
        font-family: $Fuente;
        font-weight: map-get($map-fontWeight,medium);
        font-size: 0.8rem;
    }

    .parrafo {
        font-family: $Fuente;
        font-weight: map-get($map-fontWeight,light);
    }

    .sectionCard {
        background: map-get($map-background,gradientColor);
        padding: 10px;

        .card {
            background-color: map-get($map-background,blanco);
            color: map-get($map-color, negro);
            border-radius: 10px;
            width: 180;
            height: 120;
            margin: 10px;
            padding: 10px;

            .card img {
                border-radius: 10px;
            }

            .card div p {
                margin: 10px;
                padding: 10px;
            }
        }
    }

    .logosCias {
        width: 100%;
        padding: 10px;
        text-align: center;
        display: inline-block;
    }

    .logosCias div {
        border-radius: 10px;
        align-items: center;
        justify-content: center;
    }

    footer {
        background: $ColorGradient;
        padding: 10px;
        color: map-get($map-color, blanco);
        text-align: center;
        font-family: $Fuente;

        footer p {
            margin: 5px;
        }
    }

    footer section a {
        color: map-get($map-color, blanco);
        margin: 10px;
    }

    footer section a:hover {
        color: map-get($map-color, negro);
    }

    .cardsSeguros {
        background-color: map-get($map-background, grisClaro);
        padding: 20px;
        text-align: center;

        .cardsSeguros div {
            background-color: map-get($map-background, grisOscuro);
            border-radius: 10px;
            color: map-get($map-color, blanco);
            padding: 10x;
            margin: 10px 50px;
            text-align: center;
            width: 250px;
            height: 280px;
            text-align: center;
            display: inline-block;

            .cardsSeguros div img {
                border-radius: 10px;
                margin: 10px;
            }
        }

        .cardsSeguros p {
            margin: 8px;
        }
    }

    .masInfo {
        padding: 20px;
        text-align: center;

        .botonInfo {
            width: 25%;
            font-size: 1.5rem;
            font-weight: 700;
            padding: 2px;
            border-radius: 10px;
            background-color: map-get($map-background, blanco);
            border: 1px solid rgb(0, 0, 0);
            color: map-get($map-color, negro);
        }
    }

    .masInfo h3,
    p,
    button {
        margin: 10px;
    }

    .formularioSiniestros {
        padding: 10px;
        font-family: $Fuente;
        display: inline-block;
        text-align: center;

        div {
            padding: 10px;
            margin: 10px;
            width: 100%;
            height: 50px;
            display: inline-block;
        }

        .parrafosFormulario {
            font-family: $Fuente;
            font-weight: map-get($map-fontWeight, light);
            font-size: 0.8rem;
            color: map-get($map-color, grisClaro);
            text-align: left;
        }

        .fechaHora input {
            width: 49.7%;
        }

        .inputComentario {
            height: 150px;
        }

        div select,
        option,
        input {
            font-family: $Fuente;
            width: 100%;
        }
    }

    .nosotros {
        text-align: center;
        background-image: map-get($map-background, imagenOficina);
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 10%;
        color: map-get($map-color, blanco);
    }

    .contenidoNosotros {
        padding: 20px;

        section h3 {
            margin: 50px 10px;
        }

        section h5,
        p {
            margin: 10px;
        }
    }

    .mapa {
        background: map-get($map-background, gradientColor);
        padding: 10px;
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: map-get($map-color, blanco);

        .centrar {
            height: 100%;
            width: 100%;
            margin: 10px;
            display: inline-block;
            justify-content: center;
        }

        .textoMapa {
            font-family: $Fuente;
            font-size: 1rem;
            text-shadow: 0 0 2px rgb(0, 0, 0);
        }
    }

    .mapa div div iframe,
    h3,
    p {
        padding: 10px;
        margin: 5px;
    }

    .botonEnviar {
        margin: 10px;
        display: inline-block;
        flex: wrap;
    }
}